@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.Navbar{
  display: flex;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);

  
  
}

.NavbarInner {
  display: flex;
  width: 1230px;
  max-width: 1230px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.NavItem {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.SignIn {
  margin-left: auto; /* Push the item to the end */
  display: flex;
width: 48px;
height: 48px;
padding: 1px;
justify-content: center;
align-items: center;
align-content: center;
gap: 1px;
flex-shrink: 0;
flex-wrap: wrap;
border-radius: 100px;
background: var(--support-light-grey, #F0F3F5);
position: relative;
}

.badge{
  border-radius: 100px;
  background: var(--pastel-orange-marigold, #FF9600);
  position: absolute;
  right: 3.75px;
  top: 0px;
  width: 10px;
  height: 10px;
}

.Logo {
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.Beta{
  display: flex;
  padding: 0px 6px;
  align-items: flex-start;
  border-radius: 100px;
  background: var(--support-light-grey, #F0F3F5);
  color: var(--text-primary, #1E3050);
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Menu{
  display: flex;
  min-width: 460px;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex: 1 0 0;
  flex-wrap: wrap;
  color: var(--text-secondary, #676F7E);
text-align: right;
font-family: Nunito;
font-size: 13px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}
